<%= render @status %>

<div class="d-flex">
  <%= link_to "編集", edit_status_path(@status), class: 'btn btn-link' %>
  <%= button_to "削除", @status, method: :delete, class: 'btn btn-link text-danger', data: { turbo_confirm: 'よろしいですか？' } %>
</div>
